
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(45-Etudier-Etranger700x395-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/* ======= Header ======= */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo-ajinekriw img {
    width: 216px;
    height: auto;
}

/* ======= Navigation Bar ======= */
.nav-link1 {
    display: flex;
    gap: 1.5rem;
}

.nav-button {
    font-size: 16px;
    font-weight: 500;
    color: #6a106a;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #cf9a38;
    transition: all 0.3s ease;
}

.nav-button:hover {
    background-color: #6a106a;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Section Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    padding: 0 50px;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    color: black;
    margin-top: 200px;
}

.highlight {
    color: #cf9a38;
}

/* Barre de recherche */
.search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 5px;
    border-radius: 15px;
    width: 600px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    border: none;
    flex: 1;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    color: #6a106a;
}

.search-bar input::placeholder {
    color: #6a106a;
    font-style: italic;
}

.map-icon {
    color: #6a106a;
    margin-right: 20px;
    margin-left: 20px;
}

.search-btn {
    background: #6a106a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-btn:hover {
    background: #cf9a38;
}

/*chifre d'affere*/
.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 50px;
    max-width: 250px;
    height: 100px;
    border-radius: 8px;
    padding: 0;
    justify-content: space-around;
}

.stat-item .icon {
    font-size: 2.5rem;
    color: #cf9a38;
    margin-bottom: 10px;
}

.stat-item h2 {
    font-size: 1.5rem;
    color: #333;
}

.stat-item p {
    font-size: 1rem;
    color: black;
}


/*feature-section*/

.feature-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #cf9a38;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    border-top: 10px solid white;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.feature-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: none;
    background-color: transparent;
}

.feature-item:hover {
    border-bottom: 3px solid #6a106a;
    animation: bounce 0.5s ease;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.feature-item .icon-ftr {
    font-size: 2.5rem;
    color: #6a106a;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1rem;
    color: rgb(50 48 48);
}


/*footer*/
.footer {
    background-color: white;
    color: black;
    padding: 0px 0;
}

/* Conteneur principal : aligner footer-intro et footer-links */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 12000px;
    margin: 0 auto;
    padding: 20px;
}

/* Bloc gauche : Logo + texte + app-links */
.footer-intro {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Logo centrÃ© */
.logo img {
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

/* Texte sous le logo */
.footer-intro p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px 0;
}

/* Boutons App Store et Google Play */
.app-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.app-links a {
    display: inline-block;
}
.app-links img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.app-button {
    width: 150px;
    height: auto;
}

/* Bloc droit : Follow Us + Contact Us */
.footer-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

/* Style des colonnes (Follow Us, Contact Us) */
.column {
    min-width: 18px;
}

.column h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color:#6a106a;
}

/* Liens des rÃ©seaux sociaux */
.icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #fbbc05;
}


/*ad bar */
.bar {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ddd;
}
.ad-bar {
    max-width: 1200px;
    margin: auto;
}
.city-buttons {
    margin-bottom: 20px;
}
.city-button {
    display: inline-block;
    background-color: #cf9a38;
    color: #6a106a;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
/* Effet au survol pour ordinateur */
.city-button:hover {
    background-color: #6a106a; /* Change la couleur au survol */
    color: #cf9a38;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    transform: scale(1.1); /* LÃ©gÃ¨re mise en avant */
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    padding: 10px;
    white-space: nowrap;
    align-items: center;
    position: relative;
}
.card-container::-webkit-scrollbar {
    display: none; 
}
.card {
    background: #6a106a;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    min-width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 47px 47px 45px rgba(0, 0, 0, 0.5); 
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-info {
    padding: 15px;
    margin-top:-20px;
}

.card-info h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    margin-top:-100px;
}
.card-info p {
    margin: 5px 0;
    color: black;
}
.card-info .price {
    font-size: 16px;
    color: #cf9a38;
    font-weight: bold;
}
.icons2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.icons2 p{
    font-size: 1.1rem;
    color: white;
}
.card-info .icons2 {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-top: 10px; 
    gap: 0px; 
}
.icons2 {
    margin-top: 5px;
    font-size: 14px;
}

.icons2 i {
    margin-right: 5px;
    color: white;
}
.nav-button-prev,
.nav-button-next {
    background-color:#6a106a;
    color: #cf9a38 ;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.nav-button-prev {
    left: 0;
}
.nav-button-next {
    right: 0;
}




@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
    
    }

    .hero-content h1 {
        font-size: 2.5rem;
        margin-top: 400px;
    }

    .search-bar {
        width: 100%;
    }

    .stats {
        flex-direction: column;
        gap: 20px;
    }

    .feature-section {
        flex-direction: column;
    }
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
    }

    .footer {
        text-align: center;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 40px; 
        margin-top: 20px;
        align-items: center; 
    }

    .column {
        width: 100%;  
        text-align: center; 
    }

}


@media screen and (max-width: 640px) {
    .nav-link1 {
        flex-direction: row;  
        align-items: center;   
    }

    .nav-button {
        font-size: 14px;         
        padding: 8px 15px;      
        margin: 5px 0;           
    }

    .search-bar {
        width: 100%;      
        padding: 1px;     
    }

    .bar{
        width: 100%;
        background: none;
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 5px;
    
    }
    .card{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        min-width: 200px; 
        height: 300px;
    }

    .card img {
        height: 120px; 
    }

    .card-info {
        font-size: 14px; 
    }

    .nav-button-prev,
    .nav-button-next {
        font-size: 16px; 
        padding: 8px;
    }

   
    .feature-item h3 {
        font-size: 1.1rem;   
    }
    .feature-section {
        width:110%;
    }

    
    .hero {
        flex-direction: column;  
        padding: 20px;        
        height: auto;            
        text-align: center;
    }

    .hero-content h1 {
        font-size: 1.5rem;      
        margin-top: 350px;       
         
    }
    .footer {
        text-align: center;
        width:110%;
    }



}



@media screen and (max-width: 450px) {
    .header {
        flex-direction:row;
        padding: 12px;
    }

    .logo-ajinekriw img {
        width: 200px;  
        height: auto;
        align-items:flex-start;
    }
    .nav-link1 {
        flex-direction: column;   
        gap:0px;
        align-items:flex-end;
        place-items:center;
    }

    .nav-button {
        font-size: 14px;         
        padding: 8px 15px;      
        margin: 5px 0; 
    
    }

    .search-bar {
        width: 100%;
        padding: 5px;
        font-size: 14px;
        margin-left:25px;
    }


    

    .hero-content h1 {
        font-size: 20px; 
        margin-top: 200px;
        text-align:left;
        margin-left:40px;
    }

    .stats {
        flex-direction: column;
        gap: 15px;
    }

    .feature-section {
        flex-direction: column;
        padding: 10px;
        width:200%;
    }
    .bar{
        width: 200%;
        background: none;
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    
    }
    .card{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .footer {
        text-align: center;
        padding: 10px;
        width:200%;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        align-items: center;
    }

    .column {
        width: 100%;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .contact-left, .contact-right {
        width: 100%;  
    }

    .contact-form {
        width: 100%;
    }

    .contact-form button {
        font-size: 16px;  
        padding: 10px;
    }

    .info-item span {
        font-size: 14px;
    }

    .contact-right img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 15px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}




